<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <h1>Hello your appointment has been confirmed.Please check your email for details</h1>
	</form>
</body>
</html>
