<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">

<title>Homepage</title>
<link rel="icon" href="favicon.png" type="image/png">
<link rel="shortcut icon" href="favicon.ico" type="img/x-icon">

<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>

<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<link href="css/animate.css" rel="stylesheet" type="text/css">

<!--[if IE]><style type="text/css">.pie {behavior:url(PIE.htc);}</style><![endif]-->

<script type="text/javascript" src="js/jquery.1.8.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery-scrolltofixed.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/jquery.isotope.js"></script>
<script type="text/javascript" src="js/wow.js"></script>
<script type="text/javascript" src="js/classie.js"></script>


<!--[if lt IE 9]>
    <script src="js/respond-1.1.0.min.js"></script>
    <script src="js/html5shiv.js"></script>
    <script src="js/html5element.js"></script>
<![endif]-->


</head>
<body>
<div style="overflow:hidden;">
<header class="header" id="header"><!--header-start-->
	<div class="container">
    	<figure class="logo animated fadeInDown delay-07s">
        	<a href="#"><img src="img/logo.png" alt=""></a>	
        </figure>	
        <h1 class="animated fadeInDown delay-07s">FROM DESIGNING TO EXECUTION</h1>
        <ul class="we-create animated fadeInUp delay-1s">
        	<li>ONE STOP SOLUTION TO YOUR  PROJECT HOME IS WHERE THE HEART IS</li>
        </ul>
            <a class="link animated fadeInUp delay-1s" href="http://localhost:5000/register">Book an Appointment</a>
    </div>
</div>
</header><!--header-end-->


<nav class="main-nav-outer" id="test"><!--main-nav-start-->
	<div class="container">
        <ul class="main-nav">
        	<li><a href="#header">Home</a></li>
            <li><a href="#service">Services</a></li>
            <li class="small-logo"><a href="#header"><img src="img/small-logo.png" alt=""></a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
    </div>
</nav><!--main-nav-end-->



<section class="main-section" id="service"><!--main-section-start-->
	<div class="container">
    	<h2>Services</h2>
    	<h6>We offer exceptional service with complimentary hugs.</h6>
		<!--<div class="row">
                <div class="col-md-4 col-sm-4 rate-box text-center">
                    <svg class="black" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 60">
                        <path d="M22.6,16.8H28c-0.5-0.2-1-0.4-1.5-0.7h-4.2C22.4,16.4,22.5,16.6,22.6,16.8z"></path>
                        <path d="M31.5,52.2c-0.3-0.1-0.6-0.3-0.8-0.6H3.2V34.3l10.2-17.4h6.3c-0.1-0.2-0.2-0.4-0.3-0.7h-6.2
        c-0.1,0-0.3,0.1-0.4,0.2L2.6,34c0,0.1-0.1,0.1-0.1,0.2v17.6c0,0.2,0.2,0.4,0.4,0.4h28.7C31.6,52.2,31.5,52.2,31.5,52.2z"></path>
                        <path d="M23.3,18.6c0.1,0.1,0.1,0.3,0.2,0.4h5.4c0.1-0.1,0.2-0.3,0.2-0.4H23.3z"></path>
                        <path d="M5.9,49.4V31.8c-0.1,0.1-0.3,0.2-0.4,0.3v17.5c0,0.1,0.1,0.2,0.2,0.2h24.7v-0.4c0,0,0,0,0,0H5.9z"></path>
                        <path d="M13.8,19h6.4c0-0.1,0-0.1-0.1-0.2c0-0.1-0.1-0.1-0.1-0.2h-6.4C13.7,18.7,13.7,18.9,13.8,19z"></path>
                        <path d="M16.4,21.7h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C16.6,21.6,16.6,21.7,16.4,21.7
         M18.4,21.7h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C18.6,21.6,18.5,21.7,18.4,21.7
         M20.3,21.7h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C20.5,21.6,20.4,21.7,20.3,21.7"></path>
                        <path d="M10.6,47.1H9.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C10.8,47,10.7,47.1,10.6,47.1
         M12.5,47.1h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C12.7,47,12.7,47.1,12.5,47.1
         M14.5,47.1h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C14.7,47,14.6,47.1,14.5,47.1
         M16.4,47.1h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C16.6,47,16.5,47.1,16.4,47.1
         M18.3,47.1h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C18.5,47,18.4,47.1,18.3,47.1
         M20.2,47.1h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C20.4,47,20.3,47.1,20.2,47.1
         M22.1,47.1h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C22.3,47,22.2,47.1,22.1,47.1 M24,47.1
        h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2H24c0.1,0,0.2,0.1,0.2,0.2C24.2,47,24.1,47.1,24,47.1 M25.9,47.1h-0.8
        c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C26.2,47,26.1,47.1,25.9,47.1 M27.9,47.1H27
        c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C28.1,47,28,47.1,27.9,47.1 M29.8,47.1H29
        c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C30,47,29.9,47.1,29.8,47.1"></path>
                        <path d="M8.7,47.1H8.3c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.2h0.2c0.1,0,0.2,0.1,0.2,0.2
        C8.9,47,8.8,47.1,8.7,47.1"></path>
                        <path d="M8.3,31c-0.1,0-0.2-0.1-0.2-0.2V30c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C8.5,30.9,8.4,31,8.3,31 M8.3,32.8
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C8.5,32.7,8.4,32.8,8.3,32.8 M8.3,34.7
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C8.5,34.6,8.4,34.7,8.3,34.7 M8.3,36.5
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C8.5,36.4,8.4,36.5,8.3,36.5 M8.3,38.3
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C8.5,38.2,8.4,38.3,8.3,38.3 M8.3,40.2
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2V40C8.5,40.1,8.4,40.2,8.3,40.2 M8.3,42
        c-0.1,0-0.2-0.1-0.2-0.2V41c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C8.5,41.9,8.4,42,8.3,42 M8.3,43.8
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C8.5,43.7,8.4,43.8,8.3,43.8 M8.3,45.7
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C8.5,45.6,8.4,45.7,8.3,45.7"></path>
                        <path d="M20.8,22.6c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C21,22.5,20.9,22.6,20.8,22.6
         M20.8,24.5c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C21,24.4,20.9,24.5,20.8,24.5
         M20.8,26.4c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C21,26.3,20.9,26.4,20.8,26.4
         M20.8,28.2c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2V28C21,28.2,20.9,28.2,20.8,28.2 M20.8,30.1
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C21,30,20.9,30.1,20.8,30.1 M20.8,32
        c-0.1,0-0.2-0.1-0.2-0.2V31c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C21,31.9,20.9,32,20.8,32 M20.8,33.9
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C21,33.8,20.9,33.9,20.8,33.9 M20.8,35.8
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C21,35.7,20.9,35.8,20.8,35.8 M20.8,37.7
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C21,37.6,20.9,37.7,20.8,37.7 M20.8,39.6
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C21,39.5,20.9,39.6,20.8,39.6 M20.8,41.5
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C21,41.4,20.9,41.5,20.8,41.5 M20.8,43.3
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C21,43.3,20.9,43.3,20.8,43.3 M20.8,45.2
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2V45C21,45.1,20.9,45.2,20.8,45.2 M20.8,47.1
        c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v0.8C21,47,20.9,47.1,20.8,47.1"></path>
                        <path d="M26.9,47c-0.1,0-0.1-0.1-0.1-0.1V39c0-0.1,0.1-0.1,0.1-0.1S27,39,27,39v7.9C27,47,27,47,26.9,47"></path>
                        <path d="M14.5,47c-0.1,0-0.1-0.1-0.1-0.1V25.4c0-0.1,0.1-0.1,0.1-0.1s0.1,0.1,0.1,0.1v21.5C14.6,47,14.6,47,14.5,47"></path>
                        <path d="M10.7,28.2c0,0-0.1-0.1-0.1-0.1s0-0.1,0.1-0.1h13.7c0,0,0.1,0.1,0.1,0.1s0,0.1-0.1,0.1H10.7z"></path>
                        <path d="M8.3,40.6c-0.1,0-0.1-0.1-0.1-0.1s0-0.1,0.1-0.1h19.8c0.1,0,0.1,0.1,0.1,0.1s0,0.1-0.1,0.1H8.3z"></path>
                        <path d="M8.6,34.5H8.3c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.3c0.1,0,0.2,0.1,0.2,0.2C8.8,34.4,8.8,34.5,8.6,34.5
         M10.5,34.5H9.7c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C10.7,34.4,10.6,34.5,10.5,34.5
         M12.4,34.5h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C12.6,34.4,12.5,34.5,12.4,34.5
         M14.3,34.5h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C14.5,34.4,14.4,34.5,14.3,34.5
         M16.2,34.5h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C16.4,34.4,16.3,34.5,16.2,34.5
         M18.1,34.5h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C18.3,34.4,18.2,34.5,18.1,34.5
         M20,34.5h-0.8c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2H20c0.1,0,0.2,0.1,0.2,0.2C20.2,34.4,20.1,34.5,20,34.5 M21.8,34.5
        H21c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C22.1,34.4,22,34.5,21.8,34.5 M23.7,34.5h-0.8
        c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C23.9,34.4,23.8,34.5,23.7,34.5 M27.5,34.5h-0.8
        c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C27.7,34.4,27.6,34.5,27.5,34.5 M29.4,34.5h-0.8
        c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C29.6,34.4,29.5,34.5,29.4,34.5 M31.3,34.5h-0.8
        c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C31.5,34.4,31.4,34.5,31.3,34.5 M33.2,34.5h-0.8
        c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2h0.8c0.1,0,0.2,0.1,0.2,0.2C33.4,34.4,33.3,34.5,33.2,34.5"></path>
                        <path d="M13.1,17.3L4,32.8l11-8.6L13.1,17.3z M2.8,34.5c-0.1,0-0.2,0-0.2-0.1c-0.1-0.1-0.2-0.3-0.1-0.4l10.3-17.7
        c0.1-0.1,0.2-0.2,0.3-0.2c0.1,0,0.2,0.1,0.3,0.2l2.2,7.8c0.1,0.2,0,0.4-0.2,0.5L3,34.4C3,34.5,2.9,34.5,2.8,34.5"></path>
                        <path d="M30.5,18.4L30.5,18.4L30.5,18.4z M22,14.4l1.9,5.9l5.9-1.9L22,14.4z M23.8,21c-0.1,0-0.1,0-0.2,0
        c-0.1-0.1-0.2-0.1-0.2-0.3L21.2,14c-0.1-0.2,0-0.3,0.1-0.5c0.1-0.1,0.3-0.1,0.5-0.1l8.8,4.5c0.2,0.1,0.3,0.2,0.2,0.4
        c0,0.2-0.1,0.3-0.3,0.4l0,0l-6.6,2.2C23.9,21,23.9,21,23.8,21 M37.3,19L37.3,19L37.3,19z M37,18.9L17.1,8.8l4.9,15 M22.1,24.5
        c-0.1,0-0.1,0-0.2,0 M22,24.5c-0.1,0-0.2,0-0.3-0.1c-0.1-0.1-0.2-0.2-0.3-0.3l-5-15.4c-0.1-0.2,0-0.5,0.2-0.6
        C16.7,8,17,8,17.2,8.1l20.4,10.3c0.2,0.1,0.3,0.3,0.3,0.5c0,0.2-0.2,0.4-0.4,0.5"></path>
                        <path d="M19.5,11.3C19.4,11.3,19.4,11.3,19.5,11.3c-0.2-0.1-0.2-0.2-0.2-0.3l0.5-1c0-0.1,0.2-0.1,0.3-0.1
        c0.1,0,0.1,0.2,0.1,0.3l-0.5,1C19.6,11.3,19.5,11.3,19.5,11.3"></path>
                        <path d="M22.6,12.8C22.5,12.8,22.5,12.8,22.6,12.8c-0.2-0.1-0.2-0.2-0.2-0.3l0.5-1c0-0.1,0.2-0.1,0.3-0.1
        c0.1,0,0.1,0.2,0.1,0.3l-0.5,1C22.7,12.8,22.7,12.8,22.6,12.8"></path>
                        <path d="M29.5,16.2C29.5,16.2,29.4,16.2,29.5,16.2c-0.2-0.1-0.2-0.2-0.2-0.3l0.5-1c0-0.1,0.2-0.1,0.3-0.1
        c0.1,0,0.1,0.2,0.1,0.3l-0.5,1C29.7,16.1,29.6,16.2,29.5,16.2"></path>
                        <path d="M26,14.4C26,14.4,25.9,14.4,26,14.4c-0.2-0.1-0.2-0.2-0.2-0.3l0.5-1c0-0.1,0.2-0.1,0.3-0.1
        c0.1,0,0.1,0.2,0.1,0.3l-0.5,1C26.1,14.4,26.1,14.4,26,14.4"></path>
                        <path d="M32.5,17.7C32.5,17.7,32.5,17.7,32.5,17.7c-0.2-0.1-0.2-0.2-0.2-0.3l0.5-1c0-0.1,0.2-0.1,0.3-0.1
        c0.1,0,0.1,0.2,0.1,0.3l-0.5,1C32.7,17.6,32.6,17.7,32.5,17.7"></path>
                        <path d="M55.7,42.5c0-0.1,0-0.3,0-0.4c-0.2-0.1-0.5-0.2-0.7-0.5c0,0,0,0,0-0.1c0,0.3,0,0.7,0.1,1
        c0.1,1.3-0.3,2.6-1.2,3.6c-0.9,1-2.2,1.6-3.5,1.6h-3c-0.2,0-0.3,0.2-0.3,0.3v7.1l-15.9-3.6v-8.7c0-0.1,0-0.2-0.1-0.3
        c-3.9-3-6.1-7.5-6.1-12.4c0-2.8,0.7-5.3,2-7.6c-0.3,0.2-0.7,0.4-1,0.6c-1,2.1-1.6,4.5-1.6,7c0,5.1,2.3,9.7,6.3,12.9v8.8
        c0,0.2,0.1,0.3,0.3,0.3l16.6,3.8c0,0,0.1,0,0.1,0c0.1,0,0.2,0,0.2-0.1c0.1-0.1,0.1-0.2,0.1-0.3v-7.2h2.7c1.5,0,3-0.6,4-1.8
        C55.3,45.5,55.8,44,55.7,42.5z"></path>
                        <path d="M40.3,13.9c-3,0-5.7,0.8-8.1,2.2c0.1,0,0.2,0.1,0.2,0.1c0.1,0.1,0.3,0.2,0.4,0.3c2.2-1.2,4.7-1.9,7.4-1.9
        c6.2,0,11.6,3.6,14.1,8.9c0-0.1,0.1-0.3,0.1-0.4c0-0.2,0.1-0.3,0.2-0.4C52,17.4,46.5,13.9,40.3,13.9z"></path>
                        <path d="M43.6,33.8H27.2c-1.4,0-2.6-1.2-2.6-2.6v-1.7h19c0.1-0.2,0.1-0.5,0.2-0.7H24.3c-0.2,0-0.3,0.2-0.3,0.3v2.1
        c0,1.8,1.5,3.2,3.2,3.2h16.7C43.8,34.2,43.7,34,43.6,33.8z"></path>
                        <path d="M55.2,41.7h4.7l0.9-9.4c0-0.5,0-0.9,0-1.4l-0.9-9.4h-4.7l-0.8,3.2c0,0.1-0.1,0.2-0.2,0.2
        c-0.1,0-0.2,0-0.3,0c-1.1-0.6-2.4-0.8-3.7-0.7c-3.7,0.3-6.6,3.2-6.8,6.9c-0.1,2.1,0.6,4,2,5.5c1.4,1.5,3.3,2.3,5.4,2.3
        c1.1,0,2.2-0.2,3.2-0.7c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0.1,0.2,0.2L55.2,41.7z M60.2,42.4h-5.2c-0.2,0-0.3-0.1-0.3-0.3L53.9,39
        c-1,0.4-2,0.6-3.1,0.6c-2.2,0-4.4-0.9-5.9-2.5c-1.5-1.6-2.3-3.8-2.2-6c0.2-4,3.5-7.3,7.5-7.5c1.3-0.1,2.5,0.1,3.7,0.6l0.7-3.1
        c0-0.2,0.2-0.3,0.3-0.3h5.2c0.2,0,0.3,0.1,0.3,0.3l1,9.7c0.1,0.5,0.1,1,0,1.5l-1,9.7C60.5,42.2,60.3,42.4,60.2,42.4"></path>
                    </svg>
                    <p class="title">Design</p>
                    <p>Starts@ <span class="boldfont"> ₹150/sq. ft. onwards</span></p>
                    <p>3 - 4 weeks</p>
                    <div class="bar grey"></div>
                    <p>We create the design, you handle execution.</p>
                </div>
                <div class="col-md-4 col-sm-4 rate-box text-center">
                    <svg class="black" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                        <path d="M36.9,12.7c-0.1,0-0.3-0.1-0.4-0.1c-0.2-0.1-0.4-0.1-0.6-0.2c-0.2-0.1-0.4-0.1-0.6-0.2
        c-0.2-0.1-0.3-0.2-0.4-0.3h-5c0.1,0.3,0.1,0.5,0.2,0.8H36.9z"></path>
                        <path d="M23.2,54.3h18.9c0-0.3-0.1-0.5-0.1-0.8H24.2C23.9,53.7,23.6,54,23.2,54.3z"></path>
                        <path d="M18.5,53.5H7.3V33.2l12-20.5h7.3c-0.1-0.3-0.2-0.5-0.3-0.8h-7.2c-0.2,0-0.3,0.1-0.4,0.2L6.6,32.9
        c0,0.1-0.1,0.2-0.1,0.2v20.7c0,0.3,0.2,0.5,0.5,0.5h11.3C18.3,54,18.4,53.7,18.5,53.5z"></path>
                        <path d="M48.1,19.6c0.2-0.1,0.3-0.1,0.6-0.1c0.1,0,0.1,0,0.2,0v-7c0-0.3-0.3-0.6-0.6-0.6h-6.6c0,0,0.1,0.1,0.1,0.1
        c0.4,0.2,0.8,0.4,1.2,0.7h5.1V19.6z"></path>
                        <path d="M48.1,35.6v9.3c0.1,0,0.1,0,0.2,0c0.2,0,0.4,0,0.6,0V34.4C48.7,34.8,48.5,35.2,48.1,35.6z"></path>
                        <path d="M48.6,50.8c-0.1,0-0.3,0.1-0.4,0.1c0,0,0,0,0,0c0,0,0,0-0.1,0v2.5H46c0,0.3,0.1,0.5,0.1,0.8h2.2
        c0.3,0,0.6-0.3,0.6-0.6v-3C48.8,50.7,48.7,50.8,48.6,50.8z"></path>

                        <path d="M16.7,24.9l-8.4,6.6l10.6-18.2l1.8,6.9c0.2-0.1,0.5-0.2,0.8-0.3l-2.1-7.7c0-0.2-0.2-0.3-0.3-0.3
        c-0.2,0-0.3,0.1-0.4,0.2L6.6,32.9c-0.1,0.2-0.1,0.4,0.1,0.5c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.2-0.1l9.4-7.3
        c-0.2,0,0-0.3-0.2-0.3C16.2,25.7,16.8,25,16.7,24.9z"></path>
                        <path d="M29.5,9.8l2.3,6.9l6.9-2.3L29.5,9.8z M31.6,17.6c-0.1,0-0.2,0-0.2-0.1c-0.1-0.1-0.2-0.2-0.3-0.3l-2.6-7.8
        c-0.1-0.2,0-0.4,0.2-0.5c0.2-0.1,0.4-0.2,0.6-0.1L39.6,14c0.2,0.1,0.3,0.3,0.3,0.5c0,0.2-0.2,0.4-0.3,0.4l0,0l-7.8,2.6
        C31.7,17.6,31.6,17.6,31.6,17.6 M23.7,3.3l5.8,17.6l17.6-5.8L23.7,3.3z M29.4,21.7c-0.1,0-0.2,0-0.3-0.1c-0.2-0.1-0.3-0.2-0.3-0.4
        l-5.9-18c-0.1-0.3,0-0.5,0.2-0.7c0.2-0.2,0.5-0.2,0.7-0.1l24,12.1c0.2,0.1,0.4,0.4,0.4,0.6c0,0.3-0.2,0.5-0.5,0.6l-18,5.9
        C29.5,21.7,29.5,21.7,29.4,21.7"></path>
                        <path d="M26.5,6.2C26.4,6.2,26.4,6.2,26.5,6.2c-0.2-0.1-0.3-0.2-0.2-0.3l0.5-1.2c0.1-0.1,0.2-0.2,0.3-0.1
        c0.1,0.1,0.2,0.2,0.1,0.3l-0.5,1.2C26.6,6.2,26.6,6.2,26.5,6.2"></path>
                        <path d="M30.1,8C30.1,8,30.1,8,30.1,8c-0.2-0.1-0.3-0.2-0.2-0.3l0.5-1.2c0.1-0.1,0.2-0.2,0.3-0.1
        c0.1,0.1,0.2,0.2,0.1,0.3l-0.5,1.2C30.3,7.9,30.2,8,30.1,8"></path>
                        <path d="M38.3,11.9C38.2,11.9,38.2,11.9,38.3,11.9c-0.2-0.1-0.3-0.2-0.2-0.3l0.5-1.2c0.1-0.1,0.2-0.2,0.3-0.1
        c0.1,0.1,0.2,0.2,0.1,0.3l-0.5,1.2C38.5,11.9,38.4,11.9,38.3,11.9"></path>
                        <path d="M34.1,9.9C34.1,9.9,34.1,9.9,34.1,9.9c-0.2-0.1-0.3-0.2-0.2-0.3l0.5-1.2c0.1-0.1,0.2-0.2,0.3-0.1
        c0.1,0.1,0.2,0.2,0.1,0.3l-0.5,1.2C34.3,9.9,34.2,9.9,34.1,9.9"></path>
                        <path d="M41.8,13.7C41.8,13.7,41.7,13.7,41.8,13.7c-0.2-0.1-0.3-0.2-0.2-0.3l0.5-1.2c0.1-0.1,0.2-0.2,0.3-0.1
        c0.1,0.1,0.2,0.2,0.1,0.3L42,13.6C42,13.7,41.9,13.7,41.8,13.7"></path>
                        <path d="M37.8,45c-0.2,0.6-0.7,1-1.3,1.2c-0.7,0.2-1.4,0.1-2-0.3c-0.1-0.1-0.2-0.2-0.3-0.3l-1.1-1.1
        c-1.2-1.2-2.5-2.5-3.7-3.7c-0.5-0.5-0.7-1.1-0.7-1.7c0-0.6,0.3-1.1,0.8-1.6c0.2-0.2,0.4-0.3,0.7-0.4c-0.3-0.2-0.7-0.5-1-0.7
        c-0.2,0.1-0.3,0.2-0.4,0.3c-0.7,0.6-1.1,1.4-1.2,2.3c0,0.9,0.3,1.8,1,2.5c1.2,1.2,2.5,2.5,3.7,3.7l1.1,1.1
        c0.1,0.1,0.3,0.3,0.4,0.4c0.6,0.4,1.2,0.6,1.9,0.6c0.4,0,0.7-0.1,1.1-0.2c0.8-0.3,1.3-0.8,1.7-1.5C38.3,45.5,38,45.2,37.8,45z"></path>
                        <path d="M40.2,39.5c0.3,0.3,0.5,0.5,0.8,0.8c0.4-0.2,0.8-0.3,1.2-0.3c1.3-0.1,2.4-0.6,3.3-1.6
        c1.4-1.4,2.7-2.8,4.1-4.2c1.4-1.4,2.8-2.9,4.3-4.3c1.6-1.6,2.2-3.5,1.9-5.6c-0.4-2.4-1.8-4.1-4.1-4.9c-2.4-0.8-4.5-0.4-6.3,1.3
        c-2.4,2.4-4.9,4.8-7.2,7.2c-0.6,0.6-1.2,1.2-1.8,1.8c-0.8,0.8-1.2,1.7-1.3,2.7c0,0.7-0.1,1.2-0.5,1.7c0.3,0.2,0.6,0.5,0.8,0.7
        c0.4-0.7,0.6-1.4,0.7-2.3c0-0.8,0.4-1.5,1-2.1c0.6-0.6,1.2-1.2,1.8-1.8c2.3-2.4,4.8-4.8,7.2-7.2c1.4-1.4,3.2-1.8,5.2-1.1
        c1.9,0.7,3,2.1,3.4,4.1c0.3,1.8-0.2,3.4-1.6,4.7c-1.4,1.4-2.8,2.9-4.2,4.3c-1.4,1.4-2.8,2.8-4.1,4.2"></path>
                        <path d="M25.5,52.5 M17.9,55.2l1.3,1.4l0.8-0.5c1.8-1.2,3.7-2.4,5.5-3.6c0,0,0,0,0-0.1c0-0.2,0.1-0.4,0.1-0.7
        c0-0.3,0.1-0.7,0.1-1c0.1-0.4,0.3-0.8,0.5-1c1.2-1.1,2.5-2.3,3.7-3.4l0.3-0.3l-1.2-1.2l-0.6,0.6c-1,1-2.1,2.1-3.2,3.1
        c-0.3,0.3-0.7,0.4-1.1,0.5c-0.5,0.1-1.1,0.1-1.6,0.1l-0.2,0c-0.1,0-0.1,0-0.2,0.1c-1.1,1.5-2.2,2.9-3.2,4.4L17.9,55.2z M19.1,57.8
        c-0.1,0-0.3-0.1-0.4-0.2l-1.9-2c-0.2-0.2-0.2-0.4-0.1-0.7l0-0.1c0-0.1,0.1-0.1,0.1-0.2l1.2-1.7c1.1-1.5,2.2-2.9,3.2-4.4
        c0.3-0.4,0.6-0.5,1-0.5l0.2,0c0.5,0,1,0,1.5-0.1c0.2,0,0.4-0.1,0.5-0.2c1.1-1,2.2-2.1,3.2-3.1l0.7-0.6c0,0,0.1-0.1,0.1-0.2
        c0,0,0.1-0.1,0.1-0.1c0.1-0.1,0.2-0.2,0.4-0.2c0.1,0,0.3,0,0.4,0.1l2.1,2.1c0.1,0.1,0.2,0.3,0.2,0.4c0,0.2-0.1,0.3-0.3,0.4
        c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0-0.1,0.1-0.1,0.1l-0.4,0.4c-1.2,1.1-2.5,2.3-3.7,3.4c-0.1,0.1-0.2,0.3-0.2,0.4
        c-0.1,0.3-0.1,0.6-0.1,0.9c0,0.2,0,0.5-0.1,0.7c0,0.2-0.2,0.6-0.5,0.8c-1.8,1.2-3.7,2.4-5.6,3.6l-1.2,0.8
        C19.3,57.8,19.2,57.8,19.1,57.8"></path>
                        <path d="M52.2,24.5c0.7,0.7,0.7,1.8,0,2.5c-0.2,0.2-0.4,0.4-0.7,0.7c-2.5,2.5-5,5-7.6,7.6
        c-0.8,0.8-1.9,0.8-2.7,0.2C45,31.8,48.6,28.2,52.2,24.5"></path>
                        <path d="M39.1,33.3c-0.7-0.7-0.7-1.9,0.1-2.7c0.7-0.7,1.3-1.3,2-2c2-2.1,4.1-4.1,6.1-6.2c0.8-0.8,2-0.8,2.7-0.1
        C46.4,26,42.8,29.7,39.1,33.3"></path>
                        <path d="M24.1,32.6c1.2,0,2.2,0.4,3,1.3c3.6,3.6,8.2,8.2,12.9,12.9c1.2,1.2,1.8,2.8,1.7,4.7
        c-0.1,2.2,0.7,4,2.3,5.5c1.1,1,2.4,1.7,3.9,1.9c0.3,0,0.4,0,0.5-0.2c0.1-0.1,0.1-0.2-0.1-0.5c-0.7-0.9-1.4-1.9-2-2.8l-0.2-0.3
        c-0.7-1-0.7-1.9,0-2.9c1-1.3,2.2-2.2,3.7-2.7c1-0.3,1.9-0.1,2.5,0.8c0.7,0.9,1.4,1.9,2.2,3.1c0.3,0.4,0.4,0.4,0.5,0.3
        c0.2,0,0.3-0.1,0.3-0.5c0.6-3.8-2.1-7.6-5.9-8.2c-0.3-0.1-0.7-0.1-1.1-0.1c-0.2,0-0.3,0-0.5,0c-1.9,0.1-3.6-0.6-4.9-2
        c-3.6-3.7-7.5-7.6-12.3-12.4c-1.1-1.1-1.6-2.3-1.4-3.9c0.2-3.2-2.3-6.3-5.5-6.6c-3.4-0.4-6.5,1.9-7,5.2c-0.3,2,0.3,3.9,1.6,5.3
        c1.3,1.4,3.2,2.2,5.2,2C23.9,32.6,24,32.6,24.1,32.6 M48.1,60c-0.1,0-0.2,0-0.3,0c-1.7-0.3-3.3-1-4.5-2.2
        c-1.8-1.7-2.7-3.8-2.6-6.3c0-1.6-0.4-2.9-1.4-3.9c-4.6-4.7-9.3-9.4-12.9-12.9c-0.7-0.7-1.6-1-2.6-0.9c-2.3,0.2-4.5-0.7-6-2.4
        c-1.5-1.7-2.2-3.9-1.8-6.2c0.6-3.9,4.2-6.5,8.1-6.1c3.7,0.4,6.7,4,6.4,7.7c-0.1,1.2,0.3,2.2,1.1,3c4.8,4.8,8.7,8.7,12.3,12.4
        c1.2,1.2,2.6,1.8,4.2,1.7c0,0,0.1,0,0.1,0c0.2,0,0.3,0,0.5,0c0.4,0,0.8,0.1,1.1,0.1c4.4,0.7,7.4,5,6.7,9.4
        c-0.1,0.3-0.2,1.2-1.1,1.4c-0.9,0.2-1.5-0.5-1.6-0.7c-0.9-1.2-1.6-2.2-2.2-3.1c-0.4-0.5-0.8-0.6-1.3-0.4c-1.3,0.4-2.4,1.2-3.2,2.3
        c-0.5,0.6-0.5,1,0,1.6l0.2,0.3c0.7,0.9,1.4,1.9,2,2.8c0.4,0.6,0.4,1.2,0.1,1.7C49.1,59.6,48.8,60,48.1,60"></path>
                        <path d="M25.2,25.4c0-0.1-0.1-0.2-0.2-0.3c-0.4-0.4-0.8-0.8-1.2-1.2c-0.2-0.2-0.4-0.2-0.6-0.1
        c-0.5,0.2-1.1,0.3-1.6,0.4c-0.2,0.1-0.4,0.2-0.4,0.4c-0.1,0.5-0.3,1.1-0.4,1.6c-0.1,0.2,0,0.4,0.2,0.6c0.4,0.4,0.8,0.8,1.2,1.2
        c0.2,0.2,0.4,0.2,0.6,0.2c0.5-0.2,1.1-0.3,1.6-0.5c0.2-0.1,0.4-0.2,0.4-0.4c0.2-0.6,0.3-1.2,0.5-1.8c0,0,0,0,0-0.1
        C25.2,25.5,25.2,25.5,25.2,25.4z"></path>
                    </svg>
                    <p class="title">Design <span class="nest-font blue">+</span> Build</p>
                    <p>Starts@ <span class="boldfont">₹1,350/sq. ft. onwards</span></p>
                    <p>8 - 12 weeks</p>
                    <div class="bar grey"></div>
                    <p>Full responsibility from creating designs until final execution. </p>
                </div>
                <div class="col-md-4 col-sm-4 rate-box text-center">
                    <svg class="black" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 60">
                        <path d="M57.4,13.1c-0.4-2.3-1.7-3.8-3.8-4.6c-2.2-0.8-4.2-0.3-5.8,1.3c-2.3,2.2-4.5,4.5-6.7,6.7
                                    c-0.6,0.6-1.1,1.1-1.7,1.7c-0.7,0.7-1.1,1.6-1.2,2.5c0,0.4-0.1,0.8-0.3,1.2c0.2,0.3,0.5,0.5,0.7,0.8c0.3-0.6,0.5-1.2,0.5-1.9
                                    c0-0.7,0.3-1.4,0.9-1.9c0.6-0.6,1.1-1.1,1.7-1.7c2.2-2.2,4.4-4.5,6.7-6.7c1.3-1.3,3-1.7,4.8-1c1.8,0.6,2.8,1.9,3.1,3.8
                                    c0.3,1.7-0.2,3.1-1.4,4.4c-1.3,1.3-2.6,2.7-3.9,4c-1.3,1.3-2.6,2.6-3.8,3.9c-0.7,0.7-1.5,1.1-2.4,1.2c-0.6,0-1.1,0.2-1.5,0.4
                                    c0.2,0.3,0.5,0.5,0.7,0.8c0.3-0.1,0.6-0.2,0.9-0.2c1.2-0.1,2.2-0.6,3-1.4c1.3-1.3,2.5-2.6,3.8-3.9c1.3-1.3,2.6-2.6,3.9-4
                                    C57.1,16.9,57.7,15.1,57.4,13.1z"></path>
                        <path d="M40.7,32.4c-0.2,0.5-0.6,0.8-1.1,1c-0.6,0.2-1.3,0.1-1.8-0.3c-0.1-0.1-0.2-0.2-0.3-0.3l-1-1
                                    c-1.1-1.1-2.3-2.3-3.4-3.4c-0.4-0.5-0.7-1-0.7-1.6c0-0.6,0.3-1.1,0.7-1.4c0.2-0.2,0.4-0.3,0.7-0.3c-0.3-0.3-0.5-0.5-0.8-0.7
                                    c-0.2,0.1-0.3,0.2-0.5,0.3c-0.7,0.6-1,1.3-1.1,2.2c0,0.9,0.3,1.7,0.9,2.4c1.1,1.2,2.3,2.3,3.4,3.4l1,1c0.1,0.1,0.3,0.2,0.4,0.4
                                    c0.5,0.4,1.1,0.6,1.7,0.6c0.3,0,0.7-0.1,1-0.2c0.7-0.2,1.2-0.7,1.5-1.3C41.2,32.8,40.9,32.6,40.7,32.4z"></path>
                        <path d="M35,32.9L33,31c-0.1-0.1-0.2-0.1-0.4-0.1c-0.1,0-0.3,0.1-0.4,0.2c0,0-0.1,0.1-0.1,0.1
                                    c0,0.1-0.1,0.1-0.1,0.1l-0.6,0.6c-0.9,0.8-1.8,1.7-2.7,2.6c0,0,0,0.1,0,0.1c0,0,0,0,0,0c0.3,0.1,0.6,0.2,0.9,0.3
                                    c0.8-0.8,1.6-1.6,2.4-2.3l0.6-0.6l1.1,1.1l-0.3,0.3c-0.7,0.7-1.5,1.3-2.2,2c0.4,0,0.8,0.1,1.2,0.3c0.6-0.5,1.2-1.1,1.7-1.6
                                    l0.4-0.4c0,0,0.1,0,0.1-0.1c0,0,0.1-0.1,0.2-0.1c0.1-0.1,0.2-0.2,0.2-0.4C35.2,33.2,35.1,33,35,32.9z"></path>
                        <path d="M54.2,13.3c0.6,0.6,0.7,1.6,0,2.4c-0.2,0.2-0.4,0.4-0.6,0.6c-2.3,2.3-4.7,4.7-7,7
                                    c-0.7,0.7-1.8,0.8-2.5,0.1C47.4,20.1,50.8,16.7,54.2,13.3"></path>
                        <path d="M42,21.4c-0.7-0.7-0.6-1.8,0.1-2.5c0.6-0.6,1.2-1.2,1.8-1.8c1.9-1.9,3.8-3.8,5.7-5.7
                                    c0.7-0.7,1.9-0.8,2.5-0.1C48.7,14.7,45.4,18.1,42,21.4"></path>
                        <path fill="none" d="M51.9,31.8c3.8,0.6,6.4,4.4,5.8,8.2c-0.1,0.4-0.2,0.8-0.7,0.9c-0.5,0.1-0.8-0.1-1-0.5c-0.7-1-1.4-1.9-2.1-2.9
                                    c-0.5-0.6-1.1-0.8-1.8-0.6c-1.3,0.5-2.4,1.2-3.2,2.3c-0.6,0.7-0.6,1.4,0,2.1c0.7,1,1.4,1.9,2.1,2.9c0.2,0.3,0.3,0.7,0.1,1
                                    c-0.2,0.3-0.5,0.4-0.9,0.4c-1.5-0.2-2.8-0.8-3.9-1.9c-1.6-1.5-2.3-3.3-2.3-5.5c0-1.5-0.4-2.9-1.5-4c-4-4-7.9-8-11.9-12
                                    c-0.8-0.8-1.7-1.1-2.8-1c-4.2,0.3-7.4-3.2-6.7-7.4c0.5-3.3,3.6-5.6,7-5.2c3.2,0.4,5.7,3.4,5.5,6.6c-0.1,1.3,0.3,2.3,1.2,3.2
                                    c3.8,3.8,7.6,7.6,11.4,11.5c1.2,1.2,2.6,1.8,4.3,1.7C50.9,31.7,51.4,31.7,51.9,31.8"></path>
                        <path d="M28.1,20.8c1.1,0,2.1,0.4,2.8,1.2c3.3,3.3,7.6,7.7,11.9,12c1.1,1.1,1.7,2.6,1.6,4.3c0,2,0.7,3.7,2.1,5.1
                                    c1,1,2.2,1.6,3.6,1.8c0.3,0,0.4,0,0.4-0.2c0.1-0.1,0.1-0.2-0.1-0.5c-0.6-0.9-1.3-1.7-1.9-2.6l-0.2-0.3c-0.7-0.9-0.7-1.8,0-2.7
                                    c0.9-1.2,2.1-2,3.5-2.5c0.9-0.3,1.8-0.1,2.3,0.7c0.6,0.8,1.3,1.7,2.1,2.9c0.3,0.4,0.4,0.3,0.5,0.3c0.1,0,0.2-0.1,0.3-0.5
                                    c0.6-3.5-1.9-7-5.4-7.6c-0.3-0.1-0.6-0.1-1-0.1c-0.1,0-0.3,0-0.4,0c-1.7,0.1-3.3-0.5-4.6-1.8c-3.4-3.4-7-7-11.4-11.5
                                    c-1-1-1.4-2.2-1.3-3.6c0.2-3-2.1-5.8-5.1-6.1c-3.1-0.3-6,1.8-6.5,4.8c-0.3,1.8,0.2,3.6,1.4,4.9c1.2,1.3,3,2,4.8,1.9
                                    C27.9,20.8,28,20.8,28.1,20.8 M50.4,46.2c-0.1,0-0.2,0-0.3,0c-1.6-0.2-3-0.9-4.2-2c-1.6-1.6-2.5-3.6-2.4-5.9
                                    c0-1.5-0.4-2.7-1.3-3.6c-4.3-4.4-8.6-8.7-11.9-12c-0.7-0.7-1.5-1-2.4-0.9c-2.1,0.2-4.2-0.6-5.6-2.2c-1.4-1.5-2-3.6-1.7-5.8
                                    c0.6-3.6,3.9-6.1,7.5-5.7c3.5,0.4,6.2,3.7,5.9,7.2c-0.1,1.1,0.3,2,1.1,2.8c4.4,4.4,8,8.1,11.4,11.5c1.1,1.1,2.4,1.6,3.9,1.5
                                    c0,0,0.1,0,0.1,0c0.2,0,0.3,0,0.5,0c0.3,0,0.7,0.1,1.1,0.1c4,0.7,6.9,4.7,6.2,8.7c0,0.3-0.2,1.1-1,1.3c-0.9,0.2-1.4-0.5-1.5-0.7
                                    c-0.8-1.1-1.5-2-2.1-2.9c-0.3-0.5-0.7-0.6-1.2-0.4c-1.2,0.4-2.2,1.1-3,2.2c-0.4,0.6-0.4,0.9,0,1.5l0.2,0.3
                                    c0.6,0.9,1.3,1.7,1.9,2.6c0.4,0.5,0.4,1.1,0.1,1.6C51.3,45.9,51,46.2,50.4,46.2"></path>
                        <path d="M29.1,14.2c0-0.1-0.1-0.2-0.2-0.3c-0.4-0.4-0.8-0.8-1.1-1.2c-0.2-0.2-0.3-0.2-0.5-0.1
                                    c-0.5,0.1-1,0.3-1.5,0.4c-0.2,0.1-0.4,0.2-0.4,0.4c-0.1,0.5-0.3,1-0.4,1.5c-0.1,0.2,0,0.4,0.1,0.6c0.4,0.4,0.7,0.7,1.1,1.1
                                    c0.2,0.2,0.3,0.2,0.6,0.2c0.5-0.1,1-0.3,1.5-0.4c0.2,0,0.3-0.2,0.4-0.3c0.2-0.5,0.3-1.1,0.5-1.7C29.1,14.3,29.1,14.3,29.1,14.2"></path>
                        <path d="M45.5,53.2c0.2,0,0.3,0,0.5,0.1C45.5,43.1,38.2,35,28.8,33.9v1c8.8,1,15.7,8.8,16.2,18.3
                                    C45.2,53.2,45.3,53.2,45.5,53.2z"></path>
                        <path d="M7.6,53.2c0.1,0,0.2-0.1,0.3-0.1C8.1,53,8.4,53,8.6,53c0.4-6.6,3.8-12.2,8.9-15.4c0-0.4,0-0.8,0.1-1.2
                                    C11.9,39.7,8,45.9,7.6,53.2z"></path>
                        <path d="M45,53.1c0.3,0,0.6-0.1,1,0C45.5,43,38.1,34.8,28.7,33.8c0,0.3,0,0.7,0,1C37.5,35.9,44.5,43.6,45,53.1z"></path>
                        <path d="M12.1,49.5c-0.1,0-0.1,0-0.2,0c-0.3-0.1-0.4-0.4-0.3-0.7c1-3.2,3-6,5.6-8c0.2-0.2,0.5-0.1,0.7,0.1
                                    c0.2,0.2,0.1,0.6-0.1,0.7c-2.4,1.8-4.3,4.5-5.2,7.5C12.5,49.4,12.3,49.5,12.1,49.5"></path>
                        <path d="M18,53.3V30.6c0-0.5,0.4-0.9,0.9-0.9h8.2c0.5,0,0.9,0.4,0.9,0.9v22.5c0,0,0,0,0,0c0.1,0,0.1,0,0.2,0
                                    c0.1,0,0.2,0,0.3,0h0.4c0,0,0,0,0.1,0V30.6c0-1.1-0.8-2-1.8-2h-8.2c-1,0-1.8,0.9-1.8,2v22.9C17.3,53.4,17.7,53.3,18,53.3z"></path>
                        <path d="M7.1,53.7c-0.5,0-0.9,0.4-0.9,0.9v2.1c0,0.5,0.4,0.9,0.9,0.9h39.5c0.5,0,0.9-0.4,0.9-0.9v-2.1
                                    c0-0.5-0.4-0.9-0.9-0.9H7.1z M46.6,58.6H7.1c-1,0-1.8-0.9-1.8-2v-2.1c0-1.1,0.8-2,1.8-2h39.5c1,0,1.8,0.9,1.8,2v2.1
                                    C48.4,57.7,47.6,58.6,46.6,58.6"></path>
                    </svg>
                    <p class="title">Build</p>
                    <p>Starts@ <span class="boldfont">₹1200/sq. ft. onwards</span></p>
                    <p>8 - 12 weeks</p>
                    <div class="bar grey"></div>
                    <p>We build your space exactly as the design drawings you provide. </p>
                </div>
            </div>-->
        <div class="row">
        	<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
            	<div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-paw"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>VR Pro</h3>
                        <p>By downloading the app you can have a virtual reality experience. Design yourself in our predefined layouts.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-gear"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>VR Plan</h3>
                        <p>We create the design of your layout & you can have a virtual reality experience. Design yourself in the layout.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-apple"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>VR + Build</h3>
                        <p>From design to VR experience to execution.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-medkit"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Build</h3>
                        <p>We build your space exactly like you want without VR.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-medkit"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Individual Services</h3>
                        <p>We also provide individual services like painting, tall ceilings, carpentry, home automation.</p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
            	<img src="img/macbook-pro.png" alt="">
            </figure>
        
        </div>
	</div>
</section><!--main-section-end-->



<section class="main-section alabaster"><!--main-section alabaster-start-->
	<div class="container">
    	<div class="row">
			<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
            	<img  src="img/iphone.png" alt="">
            </figure>
        	<div class="col-lg-7 col-sm-8 featured-work">
            	<h2>Why ArchVR</h2>
				<br><br><br>
            	<div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-02s">
                    	<i class="fa-magic"></i>
                    </div>	
                	<div class="featured-box-col2 wow delay-02s">
                        <p>Complete design + build solution.</p>
                    </div>    
                </div>
                <div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-04s">
                    	<i class="fa-gift"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-04s">
                        <p>We provide a project manager for interior design from start to end of project. </p>
                    </div>    
                </div>
                <div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-06s">
                    	<i class="fa-dashboard"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-06s">
                        <p>On time + in budget project handover guarantee. </p>
                    </div>
                </div>
                <a class="Learn-More" href="#">Learn More</a>
            </div>
        </div>
	</div>
</section><!--main-section alabaster-end-->


<section class="main-section team" id="team"><!--main-section team-start-->
	<div class="container">
        <h2>team</h2>
        <h6>Take a closer look into our amazing team. We won’t bite.</h6>
        <div class="team-leader-block clearfix">
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="img/team-leader-pic1.jpg" alt="">
                    <ul>
                        <li><a href="#" class="fa-twitter"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                        <li><a href="#" class="fa-pinterest"></a></li>
                        <li><a href="#" class="fa-google-plus"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Seemon Dutta</h3>
                <span class="wow fadeInDown delay-03s">CEO and Founder</span>
                <p class="wow fadeInDown delay-03s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
            </div>
            <div class="team-leader-box">
                <div class="team-leader  wow fadeInDown delay-06s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="img/team-leader-pic2.jpg" alt="">
                    <ul>
                        <li><a href="#" class="fa-twitter"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                        <li><a href="#" class="fa-pinterest"></a></li>
                        <li><a href="#" class="fa-google-plus"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-06s">Vedanuj Goswami</h3>
                <span class="wow fadeInDown delay-06s">Vice President</span>
                <p class="wow fadeInDown delay-06s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
            </div>
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-09s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="img/team-leader-pic3.jpg" alt="">
                    <ul>
                        <li><a href="#" class="fa-twitter"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                        <li><a href="#" class="fa-pinterest"></a></li>
                        <li><a href="#" class="fa-google-plus"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-09s">Rakesh Gogoi</h3>
                <span class="wow fadeInDown delay-09s">Product Manager</span>
                <p class="wow fadeInDown delay-09s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
            </div>
        </div>
    </div>
</section><!--main-section team-end-->



<section class="business-talking"><!--business-talking-start-->
	<div class="container">
        <h2>Let’s Talk Business.</h2>
    </div>
</section><!--business-talking-end-->
<div class="container">
<section class="main-section contact" id="contact">
	
        <div class="row">
        	<div class="col-lg-6 col-sm-7 wow fadeInLeft">
            	<div class="contact-info-box address clearfix">
                	<h3><i class=" icon-map-marker"></i>Address:</h3>
                	<span>308 Negra Arroyo Lane<br>Albuquerque, New Mexico, 87111.</span>
                </div>
                <div class="contact-info-box phone clearfix">
                	<h3><i class="fa-phone"></i>Phone:</h3>
                	<span>1-800-BOO-YAHH</span>
                </div>
                <div class="contact-info-box email clearfix">
                	<h3><i class="fa-pencil"></i>email:</h3>
                	<span>hello@knightstudios.com</span>
                </div>
            	<div class="contact-info-box hours clearfix">
                	<h3><i class="fa-clock-o"></i>Hours:</h3>
                	<span><strong>Monday - Thursday:</strong> 10am - 6pm<br><strong>Friday:</strong> People work on Fridays now?<br><strong>Saturday - Sunday:</strong> Best not to ask.</span>
                </div>
                <ul class="social-link">
                	<li class="twitter"><a href="#"><i class="fa-twitter"></i></a></li>
                    <li class="facebook"><a href="#"><i class="fa-facebook"></i></a></li>
                    <li class="pinterest"><a href="#"><i class="fa-pinterest"></i></a></li>
                    <li class="gplus"><a href="#"><i class="fa-google-plus"></i></a></li>
                    <li class="dribbble"><a href="#"><i class="fa-dribbble"></i></a></li>
                </ul>
            </div>
        	<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
            	<div class="form">
                	<input class="input-text" type="text" name="" value="Your Name *" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                    <input class="input-text" type="text" name="" value="Your E-mail *" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                	<textarea class="input-text text-area" cols="0" rows="0" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">Your Message *</textarea>
                    <input class="input-btn" type="submit" value="send message">
                </div>	
            </div>
        </div>
</section>
</div>

<script type="text/javascript">
    $(document).ready(function(e) {
        $('#test').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false    
            
        });
        
    });
</script>

  <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();
 
  </script>


<script type="text/javascript">
	$(window).load(function(){
		
		$('.main-nav li a').bind('click',function(event){
			var $anchor = $(this);
			
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top - 102
			}, 1500,'easeInOutExpo');
			/*
			if you don't want to use the easing effects:
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top
			}, 1000);
			*/
			event.preventDefault();
		});
	})
</script>

<script type="text/javascript">

$(window).load(function(){
  
  
  var $container = $('.portfolioContainer'),
      $body = $('body'),
      colW = 375,
      columns = null;

  
  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });
  
  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
        .isotope('reLayout');
    }
    
  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
			
            filter: selector,
         });
         return false;
    });
  
});

</script>
</body>
</html>